<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.demo222.mapper.UnitMapper">

    <resultMap id="BaseResultMap" type="org.example.demo222.entity.Unit">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="abbreviation" property="abbreviation"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM unit ORDER BY id
    </select>

    <insert id="insert" parameterType="org.example.demo222.entity.Unit" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO unit (name, abbreviation) VALUES (#{name}, #{abbreviation})
    </insert>

    <delete id="deleteById">
        DELETE FROM unit WHERE id = #{id}
    </delete>

</mapper>